<table id="mainTable">
  <thead>
    <tr>
      <td>TO DO</td>
      <th>Important</th>
      <th>Not Important</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="sideTitle left-col">
        <p>Urgent</p>
      </th>
      <td class="content-col">
        <div class="container"></div>
      </td>
      <td class="content-col">
        <div class="container"></div>
      </td>
    </tr>
    <tr>
      <th scope="row" class="sideTitle left-col">
        <p>Not Urgent</p>
      </th>
      <td class="content-col">
        <div class="container"></div>
      </td>
      <td class="content-col">
        <div class="container"></div>
      </td>
    </tr>
  </tbody>
</table>

<button id="myBtn" class="large-btn">Add Activity</button>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="fill"></span>
      <span class="close cell"><i class="fa fa-times-circle"></i></span>
    </div>
    <form id="createActivity" action="/createActivity" method="POST">
      <label for="activity-title">Title:</label>
      <input type="text" name="title" id="activity-title" class="text-input" required>
      <br />
      <label for="activity-important">
        Important
        <input type="checkbox" name="important" id="activity-important" value="yes">
      </label>
      <br />
      <label for="activity-urgent">
        Urgent
        <input type="checkbox" name="urgent" id="activity-urgent" value="yes">
      </label>
      <br />
      <label for="activity-description">Description</label>
      <br />
      <textarea name="description" id="activity-description" required></textarea>
      <br />
      <input type="submit" id="addActivity" class="large-btn" value="Confirm"></input>
    </form>
  </div>
</div>

<div id="viewActivity" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="fill"></span>
      <span class="close cell"><i class="fa fa-times-circle"></i></span>
    </div>
    <h2 id="viewActivity-title"></h2>

    <h2>Description</h2>
    <p id="viewActivity-description"></p>
  </div>
</div>