<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- external libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="http://malsup.github.io/jquery.form.js" defer></script>
    <!-- internal logic -->
    <script src="/js/script.js" defer></script>
    <!-- external css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- internal css -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <title>ORGANICE</title>
  </head>
  <body>
      {{{body}}}
  </body>
</html